<h3 id="query-label" class="search-include" style="display:none">Search results for</h3>
<button id="btn-featured" class="search-exclude"><div style="display: inline" id="post-list-status"></div></button>
<ul id="post-list">
    {{ range where .Data.Pages.ByDate "Params.hidden" "ne" "true" }}
    {{ $url := replace .Permalink .Site.BaseURL "" }}
        {{ if ne $url "about/" }}
        <li id="{{- .File.BaseFileName -}}" class="{{ if .Params.featured }}featured{{ else }}not-featured{{ end }}">
                <a href='{{ .Permalink }}'><aside class="dates">{{ .Date.Format "Jan 2" }}</aside></a>
                <a href='{{ .Permalink }}'>
                    {{ .Title }} {{ if .Params.featured }}<i class="fas fa-star feature-star"></i>{{ end }} <h2>{{ .Description | markdownify }} </h2>
		    <font color="#505050">
			<h6 class="read-more-handle">. . . (read more) </h6>
			<h6 class="disqus-comment-count" data-disqus-url="{{ .Permalink }}"> <br> </h6>
		    </font>
                </a>
            </li>
        {{ end }}
    {{ end }}
</ul>

<script id="dsq-count-scr" src="//energize-andover-blog.disqus.com/count.js" async></script>
